body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1260px; width: 1260px; height: 2257px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


	#_bg__shqipmovie {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2257px;
	background:rgba(255,255,255,1);
}

#homepage_background {
	top: 0px;
	left: 0px;
	width: 1300px;
	height: 2257px;
}

#the_lion_king_cls_a {
	top: 1480px;
	left: 845px;
	width: 398px;
	height: 560px;
	position: absolute;
}

#the_lion_king__2019__dubluar_ne_shqip {
	top: 480px;
	left: 17.99px;
	width: 372.46px;
	height: 89.25px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#the_lion_king_1 {
	top: 12px;
	left: 43.99px;
	width: 310.02px;
	height: 468px;
}

#mosley_cls_a {
	top: 1480px;
	left: 430px;
	width: 400px;
	height: 560px;
	position: absolute;
}

#mosley__2019__dubluar_ne_shqip {
	top: 480px;
	left: 18.11px;
	width: 374.24px;
	height: 89.25px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#mosley_ek1 {
	top: 12px;
	left: 44.21px;
	width: 311.58px;
	height: 457px;
}

#how_to_train_your_dragon_2019_cls_a {
	top: 1480px;
	left: 14px;
	width: 398px;
	height: 560px;
	position: absolute;
}

#how_to_train_y_____2019__dubluar_ne_shqip {
	top: 480px;
	left: 17.99px;
	width: 372.46px;
	height: 89.25px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#how_to_train_your_dragon____2019____dubluar_ne_shqip {
	top: 12px;
	left: 42px;
	width: 296px;
	height: 457px;
}

#spongebob_2020_cls_a {
	top: 860px;
	left: 845px;
	width: 398px;
	height: 560px;
	position: absolute;
}

#the_spongebo_____2020__dubluar_ne_shqip {
	top: 480px;
	left: 17.99px;
	width: 372.46px;
	height: 89.25px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#spongebob {
	top: 13px;
	left: 43.99px;
	width: 310.02px;
	height: 457px;
}

#naruto___the_last_cls_a {
	top: 860px;
	left: 14px;
	width: 398px;
	height: 560px;
	position: absolute;
}

#naruto_the_last__2014__dubluar_ne_shqip {
	top: 480px;
	left: 17.99px;
	width: 372.46px;
	height: 77.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#naruto {
	top: 12px;
	left: 43.99px;
	width: 310.02px;
	height: 457px;
}

#moana__2016__cls_a {
	top: 860px;
	left: 426px;
	width: 400px;
	height: 560px;
	position: absolute;
}

#moana__2016__me_titra_shqip {
	top: 480px;
	left: 18.11px;
	width: 374.24px;
	height: 77.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#moana {
	top: 12px;
	left: 44.21px;
	width: 311.58px;
	height: 457px;
}

#tom_and_jerry_cls_a {
	top: 240px;
	left: 845px;
	width: 398px;
	height: 560px;
	position: absolute;
}

#tom_and_jerry__2021__me_titra_shqip {
	top: 480px;
	left: 17.99px;
	width: 372.46px;
	height: 77.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#tom_and_jerry_ek1 {
	top: 12px;
	left: 43.99px;
	width: 310.02px;
	height: 457px;
}

#nezha_k_thimi_cls_a {
	top: 240px;
	left: 426px;
	width: 400px;
	height: 560px;
	position: absolute;
}

#nezha {
	top: 12px;
	left: 44.21px;
	width: 312.05px;
	height: 457px;
}


#nezha_reborn__2021__dubluar_ne_shqip {
	top: 479px;
	left: 18.11px;
	width: 374.24px;
	height: 77.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#the_ice_age_adventures_of_buck_wild_cls_a {
	top: 240px;
	left: 19px;
	width: 388px;
	height: 560px;
	position: absolute;
}

#movie_background {
	opacity:0.80000001192093;
	top: 0px;
	left: 0px;
	width: 388px;
	height: 560px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(165.7,168.94,152.75,0.8);
}


#ice_age {
	top: 12px;
	left: 49.01px;
	width: 288.96px;
	height: 457px;
}


#the_ice_age__2022__me_titra_shqip {
	top: 480px;
	left: 18.02px;
	width: 363.46px;
	height: 99.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#logo {
	top: 16px;
	left: 0px;
	width: 1260px;
	height: 180px;
}

#shqipmovie {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 180px;
}


#rectangle_8 {
	opacity:0.23999999463558;
	top: 2141px;
	left: 0px;
	width: 1260px;
	height: 116px;
	background:rgba(239.06,207.23,145.43,0.24);
}


#contact_us__ {
	top: 2178px;
	left: 732px;
	width: 282px;
	height: 68.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#A69F62;
}


#copyright___2022___2023___shqipmovie_filma_dhe_filma_t__animuar_shqip__ {
	top: 2163px;
	left: 24px;
	width: 695px;
	height: 95px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#43E383;
}


#ig_1 {
	top: 2149px;
	left: 1067px;
	width: 105px;
	height: 100px;
}