body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1260px; width: 1260px; height: 2142px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__moana____2016____dubluar_ne_shqip {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
	background:rgba(255,255,255,1);
}


#homepage_background {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
}

#pershkrim__t {
	top: 1071px;
	left: 0px;
	width: 1260px;
	height: 564px;
}

#hapsira {
	opacity:0.54000002145767;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 564px;
	background:rgba(106.14,157.25,135.79,0.54);
}


#backgroundi_zgjedhjes {
	opacity:0.41999998688698;
	top: 0px;
	left: 0px;
	width: 393.69px;
	height: 413.26px;
	-ms-border-radius: 101px;
	-o-border-radius: 101px;
	-moz-border-radius: 101px;
	-webkit-border-radius: 101px;
	border-radius: 101px;
	background:rgba(74.7,116.25,125.38,0.42);
}


#moana____2016____dubluar_n__shqip {
	top: 325px;
	left: 29px;
	width: 348.06px;
	height: 122.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#title_background {
	opacity:0.55;
	top: 20px;
	left: 398px;
	width: 858.32px;
	height: 44.04px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(25.1,57.37,55.44,1);
}


#moana____2016____dubluar_n__shqip_ek1 {
	top: 20px;
	left: 391px;
	width: 885.32px;
	height: 74.04px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #397e76;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#00C1FF;
}


#moana__sht__nj__udhetuese_detare_dhe_vajza_e_vetme_e_drejtueszt_t__lundruesve__kur_peshkatar_t_e_ishullit_nuk_mund_t__peshkojn__m__asnj__peshk_dhe_t__mbjellat_thahen__ajo_m_son_q__maui_ka_vjedhur_zemr_n_e_perendesh_s_fiti__e_vetmja_menyr__p_r_t__sh_ruar_ishullin__sht__t__b_j__mauin_ti_kthej__zemr_n_fitis_it__k_shtu_q__moana_niset_n__nj__udh_tim_drejt_paq_sorit_ {
	top: 139px;
	left: 398px;
	width: 837px;
	height: 448px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #42ff00;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#DEF3FA;
}


#dubluar_ne_shqip___2016___1h_47min___full_hd {
	top: 88px;
	left: 387px;
	width: 884px;
	height: 56.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	color:#C9C9C9;
}


#moana {
	top: 20px;
	left: 89px;
	width: 227.12px;
	height: 305px;
}

#pozicioni_i_videos {
	top: 335px;
	left: 0px;
	width: 1260px;
	height: 709px;
}

#rectangle_7 {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 709px;
	background:rgba(0,0,0,0.45);
}

#filmat_e_rradh_s {
	top: 1635px;
	left: 0px;
	width: 1260px;
	height: 507px;
}

#shiko_di_ka_tjet_r__ {
	top: 0px;
	left: -5px;
	width: 477px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}


#f_e_rr_hapsir {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 507px;
	background:rgba(0,0,0,0.45);
}

#tom_and_jerry__2021__me_titra_shqip_cls_a {
	top: 1683px;
	left: 2px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}

#tom_and_jerry__2021__me_titra_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 0px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#tom_and_jerry {
	top: -1625px;
	left: 35px;
	width: 237.94px;
	height: 374px;
}


#tom_and_jerry__2021__me_titra_shqip_ek2 {
	top: -1242px;
	left: 16px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#naruto_the_last__2014__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: 319px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}

#naruto_the_last__2014__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 0px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#naruto {
	top: -1625px;
	left: 32px;
	width: 237.94px;
	height: 374px;
}


#naruto_the_last__2014__dubluar_ne_shqip_ek2 {
	top: -1242px;
	left: 12px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#spongebob_2022 {
	top: 48px;
	left: 628px;
	width: 322.07px;
	height: 459px;
}

#spongebob {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 322.07px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#the_spongebob_movie____2020__me_titra_shqip {
	top: 393.43px;
	left: 14.8px;
	width: 303px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#spongebob_ek1 {
	top: 9.84px;
	left: 35.6px;
	width: 250.87px;
	height: 374.58px;
}

#how_to_train_your_dragon__2019__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: 955px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}

#how_to_train_your_dragon__2019__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 0px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#how_to_train_your_dragon____2019____dubluar_ne_shqip {
	top: -1625px;
	left: 32px;
	width: 237.94px;
	height: 374px;
}


#how_to_train_y_____2019__dubluar_ne_shqip {
	top: -1242px;
	left: 13px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#video_player_title {
	top: 247px;
	left: 0px;
	width: 1260px;
	height: 60px;
}

#moana____2016____dubluar_n__shqip_ek2 {
	top: 0px;
	left: -8px;
	width: 1292px;
	height: 97px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #19a2b5;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#2686CA;
}

#logo_cls_a {
	top: 35px;
	left: 0px;
	width: 1260px;
	height: 97px;
	position: absolute;
}

#shqipmovie {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 97px;
}


