body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1260px; width: 1260px; height: 2142px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__tom_and_jerry____2021____ne_titra_shqip {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
	background:rgba(255,255,255,1);
}


#homepage_background {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
}

#pershkrim {
	top: 1071px;
	left: 0px;
	width: 1260px;
	height: 564px;
}

#hapsira {
	opacity:0.54000002145767;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 564px;
	background:rgba(106.14,157.25,135.79,0.54);
}


#backgroundi_zgjedhjes {
	opacity:0.41999998688698;
	top: 0px;
	left: 0px;
	width: 393.69px;
	height: 413.26px;
	-ms-border-radius: 101px;
	-o-border-radius: 101px;
	-moz-border-radius: 101px;
	-webkit-border-radius: 101px;
	border-radius: 101px;
	background:rgba(74.7,116.25,125.38,0.42);
}


#tom_and_jerry____2021____me_titra_shqip {
	top: 325px;
	left: 29px;
	width: 348.06px;
	height: 122.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#title_background {
	opacity:0.55;
	top: 20px;
	left: 398px;
	width: 858.32px;
	height: 44.04px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(25.1,57.37,55.44,1);
}


#tom_and_jerry____2021____me_titra_shqip_ek1 {
	top: 20px;
	left: 391px;
	width: 885.32px;
	height: 74.04px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #397e76;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#00C1FF;
}


#me_titra_shqip___2021___1h_41min___full_hd {
	top: 85px;
	left: 390px;
	width: 884px;
	height: 56.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	color:#C9C9C9;
}


#rilind_rivaliteti_legjendar_mes_tomit_dhe_xherrit__nd_rkoh__q__ky_i_fundit_shkon_n__hotelin_m__t__mir__t__nju_jorkut__n__prag_t__dasm_s_s__shekullit__ndihm_sit_t__menaxheres_s__hotelit__do_ti_duhet_t__p_rz_r__miun_ngat_rrestar__por_beteja_mes_maces_dhe_miut_p_rshkall_zohet_aq_shum__sa_k_rc_non_t__shkat_rroj__dasm_n_dhe_ndoshta__edhe_vet__hotelin_ {
	top: 139px;
	left: 398px;
	width: 837px;
	height: 448px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #42ff00;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#DEF3FA;
}


#tom_and_jerry {
	top: 20px;
	left: 93px;
	width: 227.12px;
	height: 305px;
}

#pozicioni_i_videos {
	top: 335px;
	left: 0px;
	width: 1260px;
	height: 709px;
}

#rectangle_7 {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 709px;
	background:rgba(0,0,0,0.45);
}

#filmat_e_rradh_s {
	top: 1635px;
	left: -2.04px;
	width: 1262.04px;
	height: 507px;
}

#shiko_di_ka_tjet_r__ {
	top: 0px;
	left: -5px;
	width: 478px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}


#f_e_rr_hapsir {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1262.04px;
	height: 507px;
	background:rgba(0,0,0,0.45);
}

#the_ice_age__2022__me_titra_shqip_cls_a {
	top: 1683px;
	left: -0.04px;
	width: 305.22px;
	height: 459px;
	position: absolute;
}

#the_ice_age__2022__me_titra_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 2px;
	width: 305.22px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#ice_age {
	top: -1625px;
	left: 35px;
	width: 238.33px;
	height: 374px;
}


#the_ice_age__2022__me_titra_shqip_ek2 {
	top: -1242px;
	left: 16px;
	width: 288px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#nezha_reborn__2021__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: 316.96px;
	width: 305.22px;
	height: 459px;
	position: absolute;
}

#nezha_reborn__2021__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 2px;
	width: 305.22px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#nezha {
	top: -1625px;
	left: 35px;
	width: 238.33px;
	height: 374px;
}


#nezha_reborn__2021__dubluar_ne_shqip_ek2 {
	top: -1242px;
	left: 18px;
	width: 288px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#naruto_the_last__2014__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: 633.96px;
	width: 305.22px;
	height: 459px;
	position: absolute;
}

#naruto_the_last__2014__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 2px;
	width: 305.22px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#naruto {
	top: -1625px;
	left: 35px;
	width: 238.33px;
	height: 374px;
}


#naruto_the_last__2014__dubluar_ne_shqip_ek2 {
	top: -1242px;
	left: 14px;
	width: 288px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#moana__2016_ {
	top: 48px;
	left: 952px;
	width: 305.22px;
	height: 459px;
}

#moana {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 307.22px;
	height: 461px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(217,217,217,0.5);
}


#moana__2016__me_titra_shqip {
	top: 393.43px;
	left: 13.87px;
	width: 288px;
	height: 63.54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#moana_ek1 {
	top: 9.84px;
	left: 33.73px;
	width: 237.75px;
	height: 374.58px;
}

#video_player_title {
	top: 247px;
	left: 0px;
	width: 1260px;
	height: 60px;
}

#tom_and_jerry____2021____me_titra_shqip_ek2 {
	top: 0px;
	left: -8px;
	width: 1292px;
	height: 97px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #19a2b5;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#2686CA;
}

#logo_cls_a {
	top: 63px;
	left: 0px;
	width: 1260px;
	height: 97px;
	position: absolute;
}

#shqipmovie {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 97px;
}


