body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1260px; width: 1260px; height: 2142px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__the_spongebob_movie____2020____dubluar_ne_shqip {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
	background:rgba(255,255,255,1);
}


#homepage_background {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 2142px;
}

#pershkrim__t {
	top: 1071px;
	left: -2px;
	width: 1260px;
	height: 564px;
}

#hapsira {
	opacity:0.54000002145767;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 564px;
	background:rgba(106.14,157.25,135.79,0.54);
}


#backgroundi_zgjedhjes {
	opacity:0.41999998688698;
	top: 0px;
	left: 0px;
	width: 393.69px;
	height: 413.26px;
	-ms-border-radius: 101px;
	-o-border-radius: 101px;
	-moz-border-radius: 101px;
	-webkit-border-radius: 101px;
	border-radius: 101px;
	background:rgba(74.7,116.25,125.38,0.42);
}


#the_spongebob_movie__2020__dubluar_n__shqip {
	top: 325px;
	left: 29px;
	width: 348.06px;
	height: 122.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#title_background {
	opacity:0.55;
	top: 20px;
	left: 398px;
	width: 858.32px;
	height: 44.04px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	background:rgba(25.1,57.37,55.44,1);
}


#the_spongebob__2020____dubluar_n__shqip {
	top: 20px;
	left: 391px;
	width: 885.32px;
	height: 74.04px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #397e76;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#00C1FF;
}


#sfungjer_bobi_dhe_patriku__shoku_i_tij_m__i_mir___nisin_nj__mision_p_r_t__shp_tuar_k_rmillin_e_rr_mbyer_nga_mbreti_tekanjoz_poseidon__gjat__udh_timit_t__tyre__dyshja_do_t__kaloj__aventura_t__cilave__dy_miqt__do_t__din__tu_b_jn__ball__me_karakterin_e_tyre_kurajoz__por_edhe_naiv_dhe_me_shum__humor___ {
	top: 139px;
	left: 398px;
	width: 837px;
	height: 448px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #42ff00;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#DEF3FA;
}


#dubluar_ne_shqip___2020___1h_35min___full_hd {
	top: 88px;
	left: 387px;
	width: 884px;
	height: 56.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 25px;
	text-align: center;
	color:#C9C9C9;
}


#spongebob {
	top: 20px;
	left: 89px;
	width: 227.12px;
	height: 305px;
}

#pozicioni_i_videos {
	top: 335px;
	left: 0px;
	width: 1260px;
	height: 709px;
}

#rectangle_7 {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 709px;
	background:rgba(0,0,0,0.45);
}

#filmat_e_rradh_s {
	top: 1635px;
	left: -2.05px;
	width: 1260px;
	height: 507px;
}

#f_e_rr_hapsir {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1257.99px;
	height: 507px;
	background:rgba(0,0,0,0.45);
}


#shiko_di_ka_tjet_r__ {
	top: 0px;
	left: -5px;
	width: 476.06px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}


#sh_d_t_hapsir {
	opacity:0.44999998807907;
	top: 0px;
	left: 0px;
	width: 1259.95px;
	height: 48px;
	background:rgba(0,0,0,0.45);
}

#naruto_the_last__2014__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: -2.05px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}

#naruto_the_last__2014__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 2px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#naruto {
	top: -1625px;
	left: 35px;
	width: 237.94px;
	height: 374px;
}


#naruto_the_last__2014__dubluar_ne_shqip_ek2 {
	top: -1242px;
	left: 14px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#moana__2016_ {
	top: 48px;
	left: 317px;
	width: 304.73px;
	height: 459px;
}

#moana {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 306.73px;
	height: 461px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	border: 1px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(217,217,217,0.5);
}


#moana__2016__me_titra_shqip {
	top: 393.43px;
	left: 13.84px;
	width: 287.24px;
	height: 63.54px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#moana_ek1 {
	top: 9.84px;
	left: 33.68px;
	width: 237.36px;
	height: 374.58px;
}

#how_to_train_your_dragon__2019__dubluar_ne_shqip_cls_a {
	top: 1683px;
	left: 630.95px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}

#how_to_train_your_dragon__2019__dubluar_ne_shqip_ek1 {
	opacity:0.5;
	top: -1635px;
	left: 2px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#how_to_train_your_dragon____2019____dubluar_ne_shqip {
	top: -1625px;
	left: 35px;
	width: 237.94px;
	height: 374px;
}


#how_to_train_y_____2019__dubluar_ne_shqip {
	top: -1242px;
	left: 15px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}

#mosley_cls_a {
	top: 1683px;
	left: 947.95px;
	width: 304.73px;
	height: 459px;
	position: absolute;
}
#mosley_ek1 {
	top: -1635px;
	left: 2px;
	width: 304.73px;
	height: 459px;
}

#mosley_ek2 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 304.73px;
	height: 459px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(217,217,217,0.5);
}


#mosley__2019__me_titra_shqip {
	top: 393.43px;
	left: 13.84px;
	width: 287.24px;
	height: 73.17px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#mosley_ek3 {
	top: 9.84px;
	left: 33.68px;
	width: 237.36px;
	height: 374.58px;
}

#video_player_title {
	top: 247px;
	left: 0px;
	width: 1260px;
	height: 60px;
}

#the_spongebob_movie__2020____dubluar_n__shqip {
	top: 0px;
	left: -8px;
	width: 1292px;
	height: 97px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #19a2b5;
	-ms-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-o-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	text-shadow:1px 5px 4px rgba(0,0,0,0.25);
	color:#2686CA;
}

#logo_cls_a {
	top: 35px;
	left: 0px;
	width: 1260px;
	height: 97px;
	position: absolute;
}

#shqipmovie {
	top: 0px;
	left: 0px;
	width: 1260px;
	height: 97px;
}


